<h1 class="text-center">Library application</h1>
<div class="container">
  <h2>Available books:</h2>
  <br />
  <button
    type="button"
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    (click)="setNewBook()"
  >
    New book
  </button>

  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope=""></th>
    </tr>
  </thead>
  <tbody>
    @for (book of books; track $index) {
      <tr>
        <td>{{book.author}}</td>
        <td>{{book.title}}</td>
        <td>{{book.genre}}</td>
        <td>
          <button type="button" class="btn btn-warning" (click)="setModifyBook(book)">Modify</button>
          <button type="button" class="btn btn-danger" (click)="deleteBook(book)">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>

  <app-book-form [book]="newBook == undefined ? modifyBook: newBook" (cancelledForm)="newBook=undefined;modifyBook=undefined;" (save)="saveBook($event)"></app-book-form>
</div>
